<h1><%= t('views.actionis.editing') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.actions.show'), @book %> |
  <%= link_to t('views.actions.back'), books_path %>
</nav>
